* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/stars-sky-night-galaxy-14676.jpg);
  color: #fff;
}

.nav-container {
  height: 70px;
  background-color: rgba(0, 0, 0, 0.556);
  padding: 10px 20px 20px;
}

.main-nav {
  display: flex;
  align-items: center;
  list-style: none;
}
.main-nav li:nth-child(1) {
  margin-right: 10px;
}

.main-nav li:nth-child(2) {
  margin-right: auto;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #fff;
  font-family: 'Monoton', cursive;
}

.main-nav li:nth-child(3) {
  margin-right: 10px;
}

.main-nav li:last-child a {
  text-decoration: none;
  color: #fff;
}

.hamburger {
  list-style: none;
}

.hamburger span {
  display: block;
  width: 15px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 3px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 89vh;
}

.header-banner {
  display: flex;
  list-style: none;
  align-items: center;
}

.header-banner li:nth-child(1) {
  margin-right: 10px;
}

.header-banner li:nth-child(2) {
  font-size: 1.4rem;
  font-family: 'Monoton', cursive;
}

.banner {
  font-size: 4rem;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: bolder;
}

.header .btn {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(80, 80, 226);
  padding: 15px 50px;
  outline: none;
  border: none;
  border-radius: 40px;
  color: #fff;
  font-size: 1.6rem;
}

hr {
  border: none;
  border-bottom: 1px dotted #fff;
  margin: 10px 100px;
}

.main-section-header {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  text-align: center;
  margin: 20px 0px 35px;
}

.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  grid-gap: 10px;
  padding: 10px;
  justify-content: space-evenly;
}

.services > ul {
  list-style: none;
}

.services > ul li:nth-child(2) p {
  text-align: left;
}

.services > ul li:nth-child(1) h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
}

.services > ul li:nth-child(1) {
  margin-bottom: 20px;
}

.direction-cards {
  background-color: #fff;
}

.direction-cards h2 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 2rem;
  padding: 50px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 350px));
  justify-content: space-around;
}

.card-container .card {
  width: 350px;
  height: 350px;
  border: 1px solid #000;
  background-color: rgb(31, 30, 30);
}
